.main-card{
    background-color: rgb(128, 0, 0);
    .icon{
        display: flex;
        gap: 40rem;
        font-size: 30px;
        &:hover{
            color: red;
        }
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 30%;
        }
    }
}
@media(max-width:500px){
    .main-card{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: white;
        background-color: #0e0c0e;
        padding: 0rem 1rem;
        h3{
            color: aqua;
        }
        .icon{
            display: flex;
            gap: 16rem;
        }
        .image{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 80%;
                border-top-right-radius: 50%;
                border-top-left-radius: 50%;
            }
        }
        .container{
            display: flex;
            gap: 12rem;
        }
        .container-2{
             display: flex;
             gap: 10rem;
             .image-2{
                img{
                    border-radius: 50px;
                    width: 60%;
                }
             }
        }
        footer{
            display: inline block;
            background-color: grey;
            padding: 1rem;
            border-radius: 50px;
        .footer1{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 80%;
            border-radius: 50px;
            i{
                font-size: 25px;
            }
            h4{
                font-size: 25px;
            }
        }    
        }
    }
}