.modernfun{
    color: antiquewhite;
    background-color:rgb(0, 0, 0);
    width: 100vw;
    height:100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .head{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 50px;
       color: rgba(255, 123, 0, 0.937);
       i{
        font-size: 30px;
        border-radius: 50%;
       }
       img{
        border-radius: 50%;
        width: 1%;
       }
       h3{
        font-size: 22px;
       }
       i{
        font-size: 30px;
        color: white;
       }
    }
    .search{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin-left: 20px;
        input{
            border: none;
            font-size: 30px;
            border-radius: 20px;
            padding: 10px 30px;
        }
        i{
            font-size: 40px;
            cursor: pointer;
        }
    }
    .slides-container{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        gap: 20px;
        grid-auto-columns: 22%;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
        padding: 2rem;
        img{
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }
        .slide{
            background-color: rgba(0, 0, 0, 0.731);
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
            border: double white;
            scroll-snap-align: start;
            border-radius: 30px;
         &:hover{
            background-color: rgba(255, 166, 0, 0.663);
         }
        }
    }
    .header{
        display: flex;
        justify-content: space-around;
        i{
            font-size: 40px;
        }
        h3{
            color: rgba(255, 123, 0, 0.937);
            font-size: 24px;
        }

    }
    .slides-container2{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        grid-auto-columns: 30%;
        overscroll-behavior-inline: contain;
        padding: 2rem;
      .cta{
        position: relative;
        .cta-image{
       img{
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;   
        width: 80%;
       }
        }
        .cta-text{
            position: absolute;
            bottom: -20px;
            left: 30px;
            display: inline-block;
            display: flex;
            width: 60%;
            gap: 40px;
            background-color: rgba(128, 128, 128, 0.83);
            border-radius: 20px;
            padding: 15px;
          i{
            font-size: 25px;
            color: rgb(252, 41, 4);
          }
        }
      }
      
    }
    footer{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        display: flex;
        background-color: rgba(240, 255, 255, 0.338);
        gap: 3rem;
        width: 50%;
        .footer1{
            display: flex;
            gap: 5px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            text-decoration: none;
            &:hover{
                color: tomato;
            }
            h5{
                text-decoration: none;
                color: white;
                &:hover{
                    font-size: 10px;
                    color: black;
            }
            i{
                color: aliceblue;
            }
        }
       
    }
    }
    }

    @media(max-width:500px){
        .modernfun{
            width: 100%;
            .head{
                display: flex;
                justify-content: center;
                gap: 1rem;
                padding: 1rem;
                img{
                    width: 40%;
                }
            }
            .search{
                display: flex;
                gap: 10px;
                input{
                    font-size: 20px;color: black;

                }
            }
            .slides-container{
                display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        gap: 20px;
        grid-auto-columns: 50%;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
        padding: 3rem;
                img{
                    width: 130px;
                    height: 130px;
                }
                .slide{
                    padding: 1rem;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
            .slides-container2{
                display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        grid-auto-columns: 100%;
        overscroll-behavior-inline: contain;
        padding: 1rem;
                .cta{
                .cta-image{
                    img{
                        border-top-left-radius: 50%;
                        border-top-right-radius: 50%;
                         border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;   
                       width: 80%;
                    }
                }
                }
            }
            footer{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
            }
        }
    }
    @media(max-width:480px){
        .modernfun{
            width: 100%;
            .head{
                display: flex;
                justify-content: center;
                gap: 3rem;
                padding: 1rem;
                img{
                    width: 80%;
                }
            }
            .search{
                display: flex;
                gap: 10px;
                input{
                    font-size: 25px;color: black;

                }
            }
            .slides-container{
                display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        gap: 20px;
        grid-auto-columns: 50%;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
        padding: 3rem;
                img{
                    width: 130px;
                    height: 130px;
                }
                .slide{
                    padding: 1rem;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
            .slides-container2{
                display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        grid-auto-columns: 100%;
        overscroll-behavior-inline: contain;
        padding: 1rem;
                .cta{
                .cta-image{
                    img{
                        border-top-left-radius: 50%;
                        border-top-right-radius: 50%;
                         border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;   
                       width: 80%;
                    }
                }
                }
            }
            footer{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
            }
        }
    }
